body {
    background-color: #ecedf3;
}

/* Base styles for larger screens */
#container {
    background-color: white;
    height: 760px;
    width: 700px;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #2e6da4;
    padding: 20px;
    box-sizing: border-box;
}

/* Form heading styling */
#formHeading {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #2e6da4;
    margin-bottom: 20px;
}

#formHeading h1 {
    margin-bottom: 0px;
    color: #2e6da4;
}

#formHeading p {
    margin-top: 10px;
    color: #2e6da4;
    font-size: 20px;
}

/* Input boxes styling */
#nameBox,
#emailBox,
#passwordBox,
#confirmPasswordBox {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

#nameBox label,
#emailBox label,
#passwordBox label,
#confirmPasswordBox label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #2e6da4;
    text-align: left;
    padding-left: 10%;
}

#nameBox input,
#emailBox input,
#passwordBox input,
#confirmPasswordBox input {
    font-size: large;
    width: 80%;
    margin-left: 10%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Signup button */
#signup {
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
    padding: 10px;
    font-size: large;
    color: white;
    background-color: #2e6da4ee;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#signup:hover {
    background-color: #2e6da4;
}

/* Login link */
#login {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}

#login a {
    text-decoration: none;
    color: #2e6da4;
}

#login a:hover {
    text-decoration: underline;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    #container {
        width: 90%;
        height: auto;
        padding: 10px;
    }

    #formHeading p {
        font-size: 18px;
    }

    #nameBox label,
    #emailBox label,
    #passwordBox label,
    #confirmPasswordBox label {
        font-size: 16px;
        padding-left: 5%;
    }

    #nameBox input,
    #emailBox input,
    #passwordBox input,
    #confirmPasswordBox input {
        width: 90%;
        margin-left: 5%;
        font-size: medium;
    }

    #signup {
        width: 90%;
        margin-left: 5%;
        font-size: medium;
    }
}

@media (max-width: 480px) {
    #formHeading h1 {
        font-size: 24px;
    }

    #formHeading p {
        font-size: 16px;
    }

    #nameBox label,
    #emailBox label,
    #passwordBox label,
    #confirmPasswordBox label {
        font-size: 14px;
        padding-left: 5%;
    }

    #nameBox input,
    #emailBox input,
    #passwordBox input,
    #confirmPasswordBox input {
        width: 90%;
        margin-left: 5%;
        font-size: small;
    }

    #signup {
        width: 90%;
        margin-left: 5%;
        font-size: small;
    }

    #login {
        font-size: 14px;
    }
}